* {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

button {
  border-radius: 6px;
  border: none;
  cursor: pointer;
  height: 40px;
  padding: 0 16px;
}

a {
  color: #027b7e;
  text-decoration: none;
}

aside {
  background-color: #027b7e;
  border-top: 1px solid;
  float: right;
  padding: 80px 32px 240px;
  width: 400px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

#main-title {
  font-weight: normal;
  text-align: center;
  text-transform: capitalize;
}

.banner {
  background-image: url("https://pushcodedev.s3.us-west-1.amazonaws.com/public_assets/costa-rican-traditional-meal-white-plate-wooden-table.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
}

.cook-time-value {
  float: right;
  margin-top: 6px;
}

.cook-time-wrapper {
  padding: 48px;
}

.cook-time-wrapper > .row {
  color: #ffffff;
  margin-bottom: 24px;
}

.cook-time-wrapper i {
  color: #f0a433;
  font-size: 24px;
  width: 40px;
}

.date {
  font-size: 0.75rem;
  text-decoration: underline;
}

.main-header {
  background-color: #ffffff;
  border-bottom: 1px solid black;
  height: 80px;
  width: 100%;
}

.name {
  font-size: 1.1rem;
  font-weight: 600;
}

.rating-wrapper {
  text-align: center;
}

.reviews-button {
  background-color: #f0a433;
}

.section-title {
  color: #027b7e;
}

.stars {
  color: #f0a433;
  margin-bottom: 32px;
}
